@model TuProyecto.Models.Libro // Asegúrate de cambiar 'TuProyecto' por el nombre de tu proyecto

@{
    ViewData["Title"] = "Mantenimiento de Equipos";
}

<h1>@ViewData["Title"]</h1>
<br />
<form method="post">
    <!-- Inicio de formulario -->
    <div class="form-group row mb-4">
        <div class="col-sm-2">
            <label asp-for="Nombre" class="control-label"></label>
        </div>
        <div class="col-sm-4">
            <input asp-for="Nombre" class="form-control" />
            <span asp-validation-for="Nombre" class="text-danger"></span>
        </div>
        <div class="col-sm-2">
            <label asp-for="Autor" class="control-label"></label>
        </div>
        <div class="col-sm-4">
            <select asp-for="Autor" asp-items="@(new SelectList(ViewBag.Autores, "Value", "Text"))" class="form-control">
                <option value="">Seleccione un autor</option>
            </select>
            <span asp-validation-for="Autor" class="text-danger"></span>
        </div>
    </div>

    <!-- Otros campos del formulario -->

    <div class="form-group row mb-4">
        <div class="col-sm-12">
            <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
    </div>
    <!-- Fin de formulario -->
</form>
